*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1{
    font-size: 50px;
}

#name{
    color: #F47D2B;
}

.image{
    width: 70%;
    margin-left: 17%;
}

section{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.button{
    background-color: #F47D2B;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.headerPart{
    background-image: url(../images/bg-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.about{
    margin-bottom: 15px;
}

.dream{
    margin-top: 100px;
}
.middlePart{
    background-image: url(../images/bg2-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}